@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header
{
    <link rel="stylesheet" href="/css/treetable.css" />
}

<div id="listForm" class="layui-tab-item layui-show">
    <div id="ImportData" style="padding: 60px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;display: none;">
        <div style="overflow:hidden">
            <a herf="javascript:;" class="layui-btn layui-btn-sm layui-btn-normal" data-type="btnTemplate"><i class="layui-icon">&#xe663;</i>生成模板</a>
            <br />
            <br />
            <input type="file" name="excelfile" id="excelfile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
        </div>
    </div>
    <form class="layui-form layui-form-pane" action="" lay-filter="listForm">
        <div class="layui-form-item" id="panelSearch" hidden>
            <fieldset class="layui-elem-field">
                <legend>检索区域 - 请输入相关数据查询</legend>
                <div class="layui-field-box" id="qform">
                    <div class="layui-form-item layui-col-sm12">
                        <div class="layui-inline toolList">
                            <a herf="javascript:;" class="layui-btn layui-btn-sm layui-btn-radius" data-type="btnQuery"><i class="layui-icon">&#xe615;</i>查询</a>
                            <a herf="javascript:;" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-warm" data-type="btnReset"><i class="layui-icon">&#xe66c;</i>重置</a>
                            <a herf="javascript:;" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger" data-type="btnClose"><i class="layui-icon">&#xe6a7;</i>关闭</a>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-sm3">
                            <label class="layui-form-label">id</label>
                            <div class="layui-input-inline">
                                <input name="qId" v-model="Id" type="text" autocomplete="off" lay-verify="required" class="layui-input NumText">
                            </div>
                        </div>
                        <div class="layui-col-sm3">
                            <label class="layui-form-label">名称</label>
                            <div class="layui-input-inline">
                                <input name="qName" v-model="Name" type="text" autocomplete="off" lay-verify="required" maxlength="255" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-col-sm3">
                            <label class="layui-form-label">sql</label>
                            <div class="layui-input-inline">
                                <input name="qSql" v-model="Sql" type="text" autocomplete="off" lay-verify="required" maxlength="2000" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-col-sm3">
                            <label class="layui-form-label">参数</label>
                            <div class="layui-input-inline">
                                <input name="qParams" v-model="Params" type="text" autocomplete="off" lay-verify="required" maxlength="255" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-col-sm3">
                            <label class="layui-form-label">备注</label>
                            <div class="layui-input-inline">
                                <input name="qRemark" v-model="Remark" type="text" autocomplete="off" lay-verify="required" maxlength="255" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-col-sm3">
                            <label class="layui-form-label">创建时间</label>
                            <div class="layui-input-inline">
                                <input name="qCreateTime" v-model="CreateTime" type="text" autocomplete="off" lay-verify="required" class="layui-input layui-date">
                            </div>
                        </div>
                        <div class="layui-col-sm3">
                            <label class="layui-form-label">创建用户</label>
                            <div class="layui-input-inline">
                                <input name="qCreateBy" v-model="CreateBy" type="text" autocomplete="off" lay-verify="required" maxlength="50" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-col-sm3">
                            <label class="layui-form-label">更新时间</label>
                            <div class="layui-input-inline">
                                <input name="qUpdateTime" v-model="UpdateTime" type="text" autocomplete="off" lay-verify="required" class="layui-input layui-date">
                            </div>
                        </div>
                        <div class="layui-col-sm3">
                            <label class="layui-form-label">更新用户</label>
                            <div class="layui-input-inline">
                                <input name="qUpdateBy" v-model="UpdateBy" type="text" autocomplete="off" lay-verify="required" maxlength="50" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        
        <table id="mainList" lay-filter="mainList"></table>

        <script type="text/html" id="toolbarTable">
            <div class="layui-btn-container">
                <a herf="javascript:;" class="layui-btn layui-btn-sm layui-btn-mini" lay-event="btnSelect"><i class="layui-icon">&#xe628;</i>检索</a>
                <a herf="javascript:;" class="layui-btn layui-btn-sm layui-btn-mini" lay-event="btnRefresh"><i class="layui-icon">&#xe9aa;</i>刷新</a>
                {{ loadMenus("Excelreport", 1) }}
            </div>
        </script>
    </form>
</div>

<div id="modifyForm" class="layui-tab-item">
    <form class="layui-form layui-form-pane" action="" lay-filter="modifyForm">
        <div class="layui-card">
            <div class="layui-row">
                <div hidden>
                    <label class="layui-form-label layui-col-sm3">id</label>
                    <div class="layui-input-inline layui-col-sm6">
                        <input name="Id" v-model="Id" style="background-color:#eee;" disabled="disabled" type="text" autocomplete="off" lay-verify="" class="layui-input NumText">
                    </div>
                </div>
                <div class="layui-col-sm12">
                    <label class="layui-form-label layui-col-sm3">名称</label>
                    <div class="layui-input-inline layui-col-sm9">
                        <input name="Name" v-model="Name" type="text" autocomplete="off" lay-verify="" maxlength="255" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-sm12">
                    <label class="layui-form-label layui-col-sm3">sql</label>
                    <div class="layui-input-inline layui-col-sm9">
                        <textarea name="Sql" v-model="Sql" placeholder="请输入内容" class="layui-textarea"></textarea>
                        <div class="layui-form-mid layui-word-aux">语法格式:<br> SELECT * FROM TableName WHERE A = {@@条件1} AND B = '{@@条件2}'</div>
                    </div>
                </div>
                <div class="layui-col-sm12">
                    <label class="layui-form-label layui-col-sm3">参数</label>
                    <div class="layui-input-inline layui-col-sm9">
                        <input name="Params" v-model="Params" type="text" autocomplete="off" lay-verify="" maxlength="255" class="layui-input" readonly="readonly">
                    </div>
                </div>
                <div class="layui-col-sm12">
                    <label class="layui-form-label layui-col-sm3">备注</label>
                    <div class="layui-input-inline layui-col-sm9">
                        <input name="Remark" v-model="Remark" type="text" autocomplete="off" lay-verify="" maxlength="255" class="layui-input">
                    </div>
                </div>
                <div hidden>
                    <label class="layui-form-label layui-col-sm3">创建时间</label>
                    <div class="layui-input-inline layui-col-sm6">
                        <input name="CreateTime" v-model="CreateTime" style="background-color:#eee;" disabled="disabled" type="text" autocomplete="off" lay-verify="" class="layui-input layui-date">
                    </div>
                </div>
                <div hidden>
                    <label class="layui-form-label layui-col-sm3">创建用户</label>
                    <div class="layui-input-inline layui-col-sm6">
                        <input name="CreateBy" v-model="CreateBy" style="background-color:#eee;" disabled="disabled" type="text" autocomplete="off" lay-verify="" maxlength="50" class="layui-input">
                    </div>
                </div>
                <div hidden>
                    <label class="layui-form-label layui-col-sm3">更新时间</label>
                    <div class="layui-input-inline layui-col-sm6">
                        <input name="UpdateTime" v-model="UpdateTime" style="background-color:#eee;" disabled="disabled" type="text" autocomplete="off" lay-verify="" class="layui-input layui-date">
                    </div>
                </div>
                <div hidden>
                    <label class="layui-form-label layui-col-sm3">更新用户</label>
                    <div class="layui-input-inline layui-col-sm6">
                        <input name="UpdateBy" v-model="UpdateBy" style="background-color:#eee;" disabled="disabled" type="text" autocomplete="off" lay-verify="" maxlength="50" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="DivConfigParams" hidden>
    <form class="layui-form layui-form-pane" action="">
        <div class="layui-card">
            <div class="layui-row" id="ConfigParams">
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/productjs/management/Excelreport.js?v=2019.11.11"></script>
<script type="text/javascript" src="/basejs/Common.js?v=2019.11.11"></script>