@{
    Layout = null;
}
<script src="~/layui/layui.js"></script>
<link rel="stylesheet" href="/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="/css/main.css" media="all" />

<form class="layui-form " action="">
    <div class="layui-form-item">
        <label class="layui-form-label">旧密码</label>
        <div class="layui-input-block">
            <input type="password" id="OldPassword" name="OldPassword" required lay-verify="required" placeholder="当前密码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新密码</label>
        <div class="layui-input-block">
            <input type="password" id="Password" name="Password" required lay-verify="required" placeholder="新密码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">确认密码</label>
        <div class="layui-input-block">
            <input type="password" id="PasswordConfirm" name="PasswordConfirm" required lay-verify="required" placeholder="请再次确认" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <a id='btnSave' class="layui-btn" lay-submit lay-filter="">确定</a>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script type="text/javascript" src="/productjs/base/changepassword.js"></script>
