@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header
{
    <link rel="stylesheet" href="/css/treetable.css" />
}

<div id="listForm" class="layui-tab-item layui-show">
    <div id="ImportData" style="padding: 60px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;display: none;">
        <div style="overflow:hidden">
            <a herf="javascript:;" class="layui-btn layui-btn-sm layui-btn-normal" data-type="btnTemplate"><i class="layui-icon">&#xe663;</i>生成模板</a>
            <br />
            <br />
            <input type="file" name="excelfile" id="excelfile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
        </div>
    </div>
    <form class="layui-form layui-form-pane" action="" lay-filter="listForm">
        <div class="layui-form-item" id="panelSearch" hidden>
            <fieldset class="layui-elem-field">
                <legend>检索区域 - 请输入相关数据查询</legend>
                <div class="layui-field-box" id="qform">
                    <div class="layui-form-item layui-col-sm12">
                        <div class="layui-inline toolList">
                            <a herf="javascript:;" class="layui-btn layui-btn-sm layui-btn-radius" data-type="btnQuery"><i class="layui-icon">&#xe615;</i>查询</a>
                            <a herf="javascript:;" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-warm" data-type="btnReset"><i class="layui-icon">&#xe66c;</i>重置</a>
                            <a herf="javascript:;" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger" data-type="btnClose"><i class="layui-icon">&#xe6a7;</i>关闭</a>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-sm3">
                            <label class="layui-form-label">Id</label>
                            <div class="layui-input-inline">
                                <input name="qId" v-model="Id" type="text" autocomplete="off" lay-verify="required" class="layui-input NumText">
                            </div>
                        </div>
                        <div class="layui-col-sm3">
                            <label class="layui-form-label">设备部件编号</label>
                            <div class="layui-input-inline">
                                <input name="qEquipmentItemId" v-model="EquipmentItemId" type="text" autocomplete="off" lay-verify="required" class="layui-input NumText">
                            </div>
                        </div>
                        <div class="layui-col-sm3">
                            <label class="layui-form-label">保养人员</label>
                            <div class="layui-input-inline">
                                <input name="qUserCode" v-model="UserCode" type="text" autocomplete="off" lay-verify="required" maxlength="32" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-col-sm3">
                            <label class="layui-form-label">开始时间</label>
                            <div class="layui-input-inline">
                                <input name="qStartTime" v-model="StartTime" type="text" autocomplete="off" lay-verify="required" class="layui-input layui-date">
                            </div>
                        </div>
                        <div class="layui-col-sm3">
                            <label class="layui-form-label">结束时间</label>
                            <div class="layui-input-inline">
                                <input name="qEndTime" v-model="EndTime" type="text" autocomplete="off" lay-verify="required" class="layui-input layui-date">
                            </div>
                        </div>
                        <div class="layui-col-sm3">
                            <label class="layui-form-label">备注</label>
                            <div class="layui-input-inline">
                                <input name="qRemark" v-model="Remark" type="text" autocomplete="off" lay-verify="required" maxlength="256" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-col-sm3">
                            <label class="layui-form-label">建立时间</label>
                            <div class="layui-input-inline">
                                <input name="qCreateTime" v-model="CreateTime" type="text" autocomplete="off" lay-verify="required" class="layui-input layui-date">
                            </div>
                        </div>
                        <div class="layui-col-sm3">
                            <label class="layui-form-label">建立者</label>
                            <div class="layui-input-inline">
                                <input name="qCreateBy" v-model="CreateBy" type="text" autocomplete="off" lay-verify="required" maxlength="32" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-col-sm3">
                            <label class="layui-form-label">更新时间</label>
                            <div class="layui-input-inline">
                                <input name="qUpdateTime" v-model="UpdateTime" type="text" autocomplete="off" lay-verify="required" class="layui-input layui-date">
                            </div>
                        </div>
                        <div class="layui-col-sm3">
                            <label class="layui-form-label">更新者</label>
                            <div class="layui-input-inline">
                                <input name="qUpdateBy" v-model="UpdateBy" type="text" autocomplete="off" lay-verify="required" maxlength="32" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        
        <table id="mainList" lay-filter="mainList"></table>

        <script type="text/html" id="toolbarTable">
            <div class="layui-btn-container">
                <a herf="javascript:;" class="layui-btn layui-btn-sm layui-btn-mini" lay-event="btnSelect"><i class="layui-icon">&#xe628;</i>检索</a>
                <a herf="javascript:;" class="layui-btn layui-btn-sm layui-btn-mini" lay-event="btnRefresh"><i class="layui-icon">&#xe9aa;</i>刷新</a>
                {{ loadMenus("EquipmentMaintainLog", 1) }}
            </div>
        </script>
    </form>
</div>

<div id="modifyForm" class="layui-tab-item">
    <form class="layui-form layui-form-pane" action="" lay-filter="modifyForm">
        <div class="layui-card">
            <div class="layui-row">
                <div hidden>
                    <label class="layui-form-label layui-col-sm3">Id</label>
                    <div class="layui-input-inline layui-col-sm6">
                        <input name="Id" v-model="Id" style="background-color:#eee;" disabled="disabled" type="text" autocomplete="off" lay-verify="" class="layui-input NumText">
                    </div>
                </div>
                <div class="layui-col-sm6">
                    <label class="layui-form-label layui-col-sm3">设备部件编号</label>
                    <div class="layui-input-inline layui-col-sm6">
                        <input name="EquipmentItemId" v-model="EquipmentItemId" type="text" autocomplete="off" lay-verify="" class="layui-input NumText">
                    </div>
                </div>
                <div class="layui-col-sm6">
                    <label class="layui-form-label layui-col-sm3">保养人员</label>
                    <div class="layui-input-inline layui-col-sm6">
                        <input name="UserCode" v-model="UserCode" type="text" autocomplete="off" lay-verify="" maxlength="32" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-sm6">
                    <label class="layui-form-label layui-col-sm3">开始时间</label>
                    <div class="layui-input-inline layui-col-sm6">
                        <input name="StartTime" v-model="StartTime" type="text" autocomplete="off" lay-verify="" class="layui-input layui-date">
                    </div>
                </div>
                <div class="layui-col-sm6">
                    <label class="layui-form-label layui-col-sm3">结束时间</label>
                    <div class="layui-input-inline layui-col-sm6">
                        <input name="EndTime" v-model="EndTime" type="text" autocomplete="off" lay-verify="" class="layui-input layui-date">
                    </div>
                </div>
                <div class="layui-col-sm6">
                    <label class="layui-form-label layui-col-sm3">备注</label>
                    <div class="layui-input-inline layui-col-sm6">
                        <input name="Remark" v-model="Remark" type="text" autocomplete="off" lay-verify="" maxlength="256" class="layui-input">
                    </div>
                </div>
                <div hidden>
                    <label class="layui-form-label layui-col-sm3">建立时间</label>
                    <div class="layui-input-inline layui-col-sm6">
                        <input name="CreateTime" v-model="CreateTime" style="background-color:#eee;" disabled="disabled" type="text" autocomplete="off" lay-verify="" class="layui-input layui-date">
                    </div>
                </div>
                <div hidden>
                    <label class="layui-form-label layui-col-sm3">建立者</label>
                    <div class="layui-input-inline layui-col-sm6">
                        <input name="CreateBy" v-model="CreateBy" style="background-color:#eee;" disabled="disabled" type="text" autocomplete="off" lay-verify="" maxlength="32" class="layui-input">
                    </div>
                </div>
                <div hidden>
                    <label class="layui-form-label layui-col-sm3">更新时间</label>
                    <div class="layui-input-inline layui-col-sm6">
                        <input name="UpdateTime" v-model="UpdateTime" style="background-color:#eee;" disabled="disabled" type="text" autocomplete="off" lay-verify="" class="layui-input layui-date">
                    </div>
                </div>
                <div hidden>
                    <label class="layui-form-label layui-col-sm3">更新者</label>
                    <div class="layui-input-inline layui-col-sm6">
                        <input name="UpdateBy" v-model="UpdateBy" style="background-color:#eee;" disabled="disabled" type="text" autocomplete="off" lay-verify="" maxlength="32" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/productjs/equipment/EquipmentMaintainLog.js?v=2019.11.11"></script>
<script type="text/javascript" src="/basejs/Common.js?v=2019.11.11"></script>